<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digit Recognizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Draw a Digit</h1>
        <canvas id="canvas" width="280" height="280"></canvas>
        <div class="buttons">
            <button onclick="clearCanvas()">Clear</button>
            <button onclick="predictDigit()">Predict Digit</button>
        </div>
        <p id="result"></p>
    </div>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>
